@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

/** MAIN DISPLAY **/
.redBackground{
    background-color: #D06161;
}

.blueBackground{
    background-color: #638DF9;
}

#mainDisplay_Container{
    width: 1024px;
    height: 525px;
    border: solid #000000 5px;
    border-radius: 20px;
}

/** BUTTONS **/
.tabListButton{
    transition: 500ms;
    width: 1014px;
    height: 95px;
    padding-left: 15px;
    border: none;
    outline: 0;
    text-align: left;
    font-size: 30px;
    font-family: 'Cabin', sans-serif;
}

#dataHistory_button[aria-selected="false"]:hover,
#realTimeData_button[aria-selected="false"]:hover{
    transition: 500ms;
    background-color: black;
    color: #FFFFFF;
    cursor: pointer;
}

/** WHEN DISPLAYING THE REAL-TIME DATA **/
#realTimeData_button[aria-selected=true]{
    width: 650px;
    border-bottom: dashed #000000 5px;
    border-top-left-radius: 17px;
    color: #FFFFFF;
    pointer-events: none;
}

#dataHistory_button[aria-selected=false]{
    width: 370px;
    border-left: solid #000000 5px;
    border-bottom: solid #000000 5px;
    border-top-right-radius: 17px;
    background-color: #FFFFFF;
    color: #000000;
}
/** ---WHEN DISPLAYING THE REAL-TIME DATA--- **/

/** WHEN DISPLAYING THE DATA HISTORY **/
#realTimeData_button[aria-selected=false]{
    width: 400px;
    border-right: solid #000000 5px;
    border-bottom: solid #000000 5px;
    border-top-left-radius: 17px;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}

#dataHistory_button[aria-selected=true]{
    width: 620px;
    border-bottom: dashed #000000 5px;
    border-top-right-radius: 17px;
    color: #FFFFFF;
    pointer-events: none;
}
/** ---WHEN DISPLAYING THE DATA HISTORY--- **/
/** ---BUTTONS--- **/

/** INSIDE CONTAINER **/
#mainDisplay_insideContainer{
    width: 1024px;
    height: 420px;
}

.is-hidden {
    display: none;
}

/** REAL-TIME DATA **/
#realTimeData_display{
    width: 855px;
    height: 350px;
    margin-top: 35px;
    margin-left: 79px;
    border: solid #000000 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

/** REAL-TIME DATA HEADER **/
#realTimeData_header{
    width: inherit;
    height: 65px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

#realTimeData_header > select{
    height: 30px;
    margin-top: 15px;
    border: none;
    outline: none;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 22px;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}
/** ---REAL-TIME DATA HEADER--- **/

/** REAL-TIME DATA SECTION **/
#realTimeData_section{
    height: 285px;
}

/* DATA */
#realTimeData{
    margin-top: 50px;
    margin-bottom: 0;
    text-align: center;
    font-size: 110px;
    font-family: 'Barlow', sans-serif;
}

/* SUGGESTION */
#relatedSuggestion{
    text-align: center;
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
}
/** ---REAL-TIME DATA SECTION--- **/
/** ---REAL-TIME DATA--- **/
/** ---INSIDE CONTAINER--- **/
/** ---MAIN DISPLAY--- **/