@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

.redBackground{
    background-color: #D06161;
}

.blueBackground{
    background-color: #638DF9;
}

html{
    width: 99.5%;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 99.5%;
    height: 99%;
    border-left: solid #000000 5px;
    border-right: solid #000000 5px;
    margin: 0;
}

/* STYLE DU HEADER */
.menu{
    order: 1;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr;
    text-align: center;
}

.menu > button{
    color: white;
    font-size: 15pt;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    height: 100px;
    cursor: pointer;
}

#title_button{
    background-color: white;
    color: black;
    border-bottom: 4px dashed black;
    font-size: 30pt;
    cursor: auto;
}
/* FIN DU STYLE DU HEADER */

/** MAIN DISPLAY **/
#mainDisplay_Container{
    order: 2;
    width: 50%;
    height: 52%;
    border: solid #000000 5px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#mainDisplay_nav{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

/** BUTTONS **/
.tabListButton{
    transition: 500ms;
    height: 2.8em;
    border: none;
    margin-top: -0.1%;
    outline: 0;
    text-align: left;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
}

#dataHistory_button[aria-selected="false"]:hover,
#realTimeData_button[aria-selected="false"]:hover{
    transition: 500ms;
    background-color: black;
    color: #FFFFFF;
    cursor: pointer;
}

/** WHEN DISPLAYING THE REAL-TIME DATA **/
#realTimeData_button[aria-selected=true]{
    order: 1;
    width: -webkit-fill-available;
    border-bottom: dashed #000000 5px;
    border-top-left-radius: 14px;
    color: #FFFFFF;
    pointer-events: none;
}

#dataHistory_button[aria-selected=false]{
    order: 2;
    width: fit-content;
    padding-right: 15%;
    border-left: solid #000000 5px;
    border-bottom: solid #000000 5px;
    border-top-right-radius: 14px;
    background-color: #FFFFFF;
    color: #000000;
}
/** ---WHEN DISPLAYING THE REAL-TIME DATA--- **/

/** WHEN DISPLAYING THE DATA HISTORY **/
#realTimeData_button[aria-selected=false]{
    order: 1;
    width: fit-content;
    margin-left: -0.1%;
    padding-right: 10%;
    border-right: solid #000000 5px;
    border-bottom: solid #000000 5px;
    border-top-left-radius: 14px;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}

#dataHistory_button[aria-selected=true]{
    order: 2;
    width: -webkit-fill-available;
    border-bottom: dashed #000000 5px;
    border-top-right-radius: 14px;
    color: #FFFFFF;
    pointer-events: none;
}
/** ---WHEN DISPLAYING THE DATA HISTORY--- **/
/** ---BUTTONS--- **/

/** INSIDE CONTAINER **/
#mainDisplay_insideContainer{
    width: 100%;
    height: 78%;
}

.is-hidden {
    display: none;
}

.data_display{
    width: 70%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    border: solid #000000 5px;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.dataDisplay_header{
    width: 100.5%;
    height: 20%;
    margin-top: -0.2%;
    margin-left: -0.1%;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
}

.dataDisplay_header > select{
    height: 48%;
    margin-top: 2%;
    border: none;
    outline: none;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    cursor: pointer;
}
/** REAL-TIME DATA **/
/** REAL-TIME DATA HEADER **/

/** ---REAL-TIME DATA HEADER--- **/

/** REAL-TIME DATA SECTION **/
#realTimeData_section{
    height: 34.03%;
}

/* DATA */
#realTimeData{
    margin-top: 7%;
    margin-bottom: 0;
    text-align: center;
    font-size: 80px;
    font-family: 'Barlow', sans-serif;
}

/* SUGGESTION */
#relatedSuggestion{
    text-align: center;
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
}
/** ---REAL-TIME DATA SECTION--- **/
/** ---REAL-TIME DATA--- **/

/* HISTORY SECTION */
#minAndMax{
    width: 100%;
    margin-left: 1%;
}


#minMaxExt{
    float: left;
    width: 40%;
    margin-left: 8%;
}

#minMaxInt{
    float: right;
    width: 40%;
    margin-right: 8%;
}

.minAndMax_info{
    width: 100%;
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    margin-top: 5%;
    float : left;
}

.minAndMax_value{
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
}

hr{
    width: 80%;
    margin: 0;
}

#graph{
    width: 100%;
    margin-top: 3%;
    float : left;
}

/** ---HISTORY SECTION---*/
/** ---INSIDE CONTAINER--- **/
/** ---MAIN DISPLAY--- **/

/* FOOTER */
footer{
    order: 3;
    width: 100%;
    height: 15%;
    margin-top: 3%;
    text-align: center;
    border-top: solid #000000 5px;
    border-bottom: solid #000000 5px;
}

#footer_menu>a{
    text-decoration: none;
    color: #FFFFFF;
}

#footer_menu{
    margin-bottom: 0;
    font-size: 16px;
}

.footer_p{
    color: #FFFFFF;
    font-family: 'Barlow', sans-serif;
}

#footer_title{
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
}

#footer_subTitle{
    font-size: 12px;
    margin-top: 0;
    padding-bottom: 1.5%;
}

@media (max-width: 400px){
    #mainDisplay_Container{
        height: 20%;
    }

    footer{
        height: 8%;
    }
}

@media (max-width: 900px){
    #mainDisplay_Container{
        height: 30%;
    }

    footer{
        height: 12%;
    }

    .menu > button {
        font-size: 12pt;
    }

    #title_button {
        font-size: 20pt;
    }

    .tabListButton {
        font-size: 16px;
    }

    .dataDisplay_header > select {
        font-size: 12px;
    }

    #realTimeData {
        font-size: 35px;
    }

    /* SUGGESTION */
    #relatedSuggestion {
        font-size: 15px;
    }

    .minAndMax_info {
        font-size: 11px;
        margin-top: 2%;
        margin-bottom: 1%;
    }

    .minAndMax_value{
        margin: 0;
    }

    #minMaxExt{
        margin-left: 4%;
    }

    #minMaxInt{
        margin-right: 4%;
    }

    .minAndMax_value {
        font-size: 13px;
    }

    #footer_menu {
        font-size: 13px;
    }

    #footer_title {
        font-size: 10px;
    }

    #footer_subTitle {
        font-size: 8px;
    }
}


@media (max-width: 1300px){
    #mainDisplay_Container{
        width: 54%;
    }
}